<!--
    Use this file to launch rosserial for comms with Cherokey
 -->
<launch>
    <arg name="rover_version" />  <!-- for selecting which rover to use -->

    <group if="$(eval arg('rover_version') == 'wheelie2')">
        <node name="serial_node" pkg="rosserial_python" type="serial_node.py" required="true" output="screen">
                <param name="port" value="/dev/ttyUSB0"/>
                <param name="baud" value="57600"/>
        </node>
    </group>
    <group if="$(eval arg('rover_version') == 'mowgli')">
        <node name="serial_node" pkg="rosserial_python" type="serial_node.py" required="true" output="screen">
                <param name="port" value="/dev/ttyACM1"/>
                <param name="baud" value="115200"/>
        </node>
    </group>
</launch>