<!--
    Use this file to launch the Rover controller for the actual rover being used
 -->
<launch>
    <arg name="rover_version" />  <!-- for selecting which rover to use -->

    <group if="$(eval arg('rover_version') == 'wheelie2')">
        <include file="$(find rover)/launch/include/_rosserial.launch"/>
        <node name="rover" pkg="rover" type="wheelie2_ctrl.py" required="true" output="screen"/>
    </group>    
</launch>